.ui.comments
    .comment
        %a.avatar
            %i.user.icon
        .content
            %a.author Elliot Fu
            .metadata
                %span.date Yesterday at 2.15pm
            .text
                Nulla porta tempor orci, eu luctus sapien mollis sed. In id consequat lorem.
            .actions
                %a.reply Reply
        .comments
            .comment
                %a.avatar
                    %i.user.icon
                .content
                    %a.author Jenny Hess
                    .metadata
                        %span.date Today at 3.20pm
                    .text
                        In id consequat lorem. Fusce venenatis luctus enim ac lobortis.
                    .actions
                        %a.reply Reply
            .comment
                %a.avatar
                    %i.user.icon
                .content
                    %a.author Joe Henderson
                    .metadata
                        %span.date Just now
                    .text
                        Integer consectetur bibendum ipsum eu feugiat. Cras tincidunt tellus eu facilisis lacinia. Vestibulum eu est sit amet massa sodales sem
                    .actions
                        %a.reply Reply

    .comment
        %a.avatar
            %i.user.icon
        .content
            %a.author Matt
            .metadata
                %span.date Today at 5:42PM
            .text
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            .actions
                %a.reply Reply

%form.ui.reply.form
    .field
        %textarea
    .ui.blue.labeled.submit.icon.button
        %i.icon.edit
        Comment
